.board {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}
.b-column {
  width: 23%;
  margin: 10px 1%;
  padding: 10px;
  background-color: #eaeaea;
  min-height: 100px;
  border-radius: 5px;
  position: relative;
}
.b-column.complete {
  padding-bottom: 50px;
}
.column-header {
  text-transform: uppercase;
  font-size: 15px;
}
.b-row {
  min-height: 50px;
  border: 1px dotted #ccc;
  margin: 5px 0 0;
  padding: 5px;
}
.dragging .b-row {
  border: 2px dotted #026aa7;
}
.dragging .b-column {
  border: 2px dotted #026aa7;
}
.b-row .column-header {
  padding: 0px 3px;
  font-size: 11px;
}
.task {
  margin: 5px 0 0;
  background: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.asigned .task {
  background: #fff;
}
.live .task {
  background: #ecffe1;
}
.standby .task {
  background: #f9f6dc;
}
.notresponse .task {
  background: #fcd0d0;
}
.complete .task {
  background: #dedede;
  color: #aaaaaa;
}

.task-header {
  display: flex;
  flex-direction: row;
  height: 25px;
}
.task h3 {
  font-weight: normal;
  font-size: 14px;
  width: 75%;
  margin: 0px;
  padding-left: 5px;
}
.task img {
  pointer-events: none;
}
.category-icon {
  text-align: left;
}
.category-icon img {
  max-width: 22px;
  width: 100%;
}
.task-data {
  font-size: 11px;
  line-height: normal;
  margin-bottom: 5px;
}
.operator {
  position: absolute;
  right: 27px;
}
.operator span {
  text-transform: uppercase;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #dedede;
  display: block;
  text-align: center;
  font-size: 15px;
  padding-top: 2px;
  color: #999;
}
.dropdownOperatorData {
  display: none;
  position: absolute;
  top: 100%;
  right: -50%;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: normal;
  min-width: 200px;
  z-index: 3;
}
.dropdownOperatorDataFilter {
  display: none;
  position: absolute;
  top: 100%;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: normal;
  min-width: 200px;
  z-index: 3;
}
.operator:hover .dropdownOperatorData,
.operatorFilter:hover .dropdownOperatorDataFilter {
  display: block !important;
}
.operator a {
  float: left;
}

.column-footer {
  margin-top: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.column-footer button {
  border: none;
  border-radius: 5px;
  margin: 7px;
  padding: 5px 20px;
  background: #0047b3;
  color: #fff;
  cursor: pointer;
  font-family: 'Yantramanav', sans-serif;
}
.Welcome {
  margin: 13px 0px 0px 15px;
  font-family: 'Yantramanav', sans-serif;
}
.task-footer {
  position: relative;
}
.notificationIcon {
  max-width: 25px;
  margin-bottom: 0px;
  float: right;
  position: relative;
  bottom: 25px;
  display: none;
}
.haveNotification.not_provider .notProvider {
  display: block;
}
.haveNotification.not_client .notClient {
  display: block;
}
#ProviderState {
  display: none;
  font-size: 8px;
  height: 23px;
  right: 42px;
  position: relative;
  top: 3px;
  border-radius: 5px;
  color: #fff;
  padding: 0 5px;
}
.going #ProviderState {
  background: rgba(0, 204, 255, 0.767);
  display: block;
}
.wip #ProviderState {
  background: #28b954c9;
  display: block;
}
.wf #ProviderState {
  background: rgba(185, 30, 30, 0.616);
  display: block;
}

.notificationNumber {
  background: #d14;
  color: white;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  margin-right: -27px;
  float: right;
  position: relative;
  bottom: 29px;

  -webkit-border-radius: 20px 20px 20px 20px;
  display: none;
}
.chatsBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1;
  display: inline-flex;
}
.chat-container {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background: #333;
  color: #fff;
  font-size: 10px;
  padding: 10px;
  margin: 0px 0.1%;
}

@media (max-width: 767px) {
  .board {
    display: block;
  }
  .b-column {
    width: 100%;
  }
}
