.chatContainerV2 {
  margin-left: 0;
  width: 100%;
  position: relative;
}
.chatV2 {
  height: 295px;
  overflow: auto;
  border-top: 1px solid #dedede;
}
.mensagessContainerV2 {
}
.mensagessFormV2 {
  width: 100%;
  background: #fff;
  position: relative;
}
.mensagessFormV2 .ChatInput {
  width: 100%;
  border: none;
  height: 50px;
  line-height: normal;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 0;
  font-size: 12px;
}
.mensagessFormV2 .ChatInput:focus {
  outline: none;
  border-top: 1px solid #0047b3;
}

.mensagessFormV2 .sendMenssage {
  width: 20px;
  cursor: pointer;
  float: right;
  margin-bottom: 0px;
  top: 3px;
  right: 5px;
  position: absolute;
  display: none;
}

.ExtraData {
  max-height: 0;
  overflow: hidden;
  transition: 1s all;
  line-height: 14px;
}
.chatFocus .ExtraData {
  max-height: initial;
  height: 72px;
}

.ChatMap {
  max-height: 0;
  overflow: hidden;
  transition: 1s all;
  line-height: 14px;
  background: #fff;
}
.ChatMap .mapSearch {
  display: none;
}
.chatFocus .ChatMap {
  max-height: initial;
  height: 300px;
  border: 2px solid #53a93f;
  border-right: none;
}
.messageItem {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  line-height: 16px;
  margin: 0px;
  background: none;
  padding: 0px 10px;
  border-radius: 5px;
}
.ChatHeader .clientName {
  word-break: break-all;
  max-width: 289px;
  white-space: nowrap;
}
.ChatHeader .clientName p {
  margin-bottom: 0px;
}
.ChangeProviderButton {
  background: #0047b3;
  border: 0px;
  color: #fff;
  padding-block-end: 3px;
  height: 23px;
  float: right;
  cursor: pointer;
}
.ChangeProviderButton img {
  width: 15px;
  margin: 0px;
}
