.deliveries {
  font-family: 'Yantramanav', sans-serif;
  padding: 0px 40px 0px 0px;
}
.filters {
  display: inline-flex;
  width: 100%;
}
.inputContainer {
  display: flex;
  margin-right: 20px;
  padding-top: 10px;
}
.inputContainer span {
  margin-right: 5px;
  line-height: 34px;
}
.input {
  min-width: 200px;
}
.btmContainer {
  display: inline-flex;
}
.btm {
  background: #0047b3;
  padding: 5px 10px;
  color: #fff;
  margin: 5px;
  cursor: pointer;
  font-size: 13px;
  border: 0px;
}
td {
  font-size: 15px;
}
.loader {
  text-align: center;
  padding-bottom: 40px;
}
.deliveries .mensagessForm,
.deliveries .asigne911,
.deliveries .notes .addNote,
.deliveries .notes h2,
.deliveries .reasign,
.deliveries .mapSearch {
  display: none;
}
.columDetails {
  font-size: 10px;
  line-height: 12px;
}
.inputGroupContainer {
  border: 1px solid #eee;
  display: inline-flex;
  margin-right: 20px;
  padding: 10px;
}
.excel {
  background: #5fbf21;
  margin-top: 10px;
}
.addFilter {
  margin: 0px;
  background: #a3a3a3;
}
.activesFilters {
  display: inline-flex;
}
.filterTrack h4 {
  font-size: 14px;
  margin-bottom: 10px;
}
.filterItem {
  background: #9ad4e8;
  font-size: 12px;
  padding: 2px 5px 2px 15px;
  border-radius: 10px;
  margin-right: 10px;
}
.deleteFilter {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #d0edf7;
  color: #333;
  display: block;
  float: right;
  text-align: center;
  line-height: 20px;
  margin: 3px 0px 0px 10px;
}
.deliveries .input {
  margin-bottom: 0px;
  margin-right: 10px;
}
.keywordFilter {
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 6px;
}
.downloadExcel {
  margin-top: 13px;
  border-radius: 5px;
  border: none;
  background: #4fc129;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}
.generateExcel {
  margin: 10px 0px;
  border-radius: 5px;
  border: none;
  background: #edaa3e;
  color: #fff;
  padding: 3px 10px;
  font-size: 15px;
  cursor: pointer;
}
.generatingExcel {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #333;
  opacity: 0.5;
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-top: 200px;
}
.totales {
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
  font-family: 'Yantramanav', sans-serif;
}
