.map-container {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  position: relative;
  font-family: 'Yantramanav', sans-serif;
}
.map-container-traking {
  height: 300px;
  position: relative;
}
.mapSearch {
  z-index: 1;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 3px 10px;
  font-family: 'Yantramanav', sans-serif;
}
.trakingMap {
  transition: all 1s;
  overflow: hidden;
  min-height: 0px;
  height: 0px;
}
.trakingMap.mapActive {
  min-height: 250px;
}
.hideShowMap {
  cursor: pointer;
  font-family: 'Yantramanav', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 22px;
}
.hideShowMap img {
  max-width: 20px;
  padding: 0px;
  margin: 0 0 0 10px;
  transition: all 1s;
}
.trakingMapIcon {
  transform: rotate(180deg);
}
/*PROVIDERS SEARCHS*/
.providersList {
  position: absolute;
  /*right: -200px;*/
  width: 200px;
  top: 0px;
  background: #ffffff;
  border: 2px solid #53a93f;
  padding: 10px 0px 0px;
  border-left: none;
  color: #333;
}
.meterSeter {
  max-width: 35px;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 1px solid blue;
  font-weight: bold;
}
.meterSeter:focus {
  outline-width: 0;
}
.providerItem {
  word-break: break-all;
  white-space: normal;
  border-top: 1px solid #d5d5d5;
  margin-top: 0px;
  padding: 5px 8px;
  cursor: pointer;
}
.cateoryImageProviderItem {
  max-width: 20px;
  margin: 0px 2px 0px 0px;
  vertical-align: middle;
}
.activeserviceInput {
  color: #333 !important;
  margin-top: 5px;
}
.activeserviceInput .activeservice__menu {
  color: #333 !important;
}

.dropDown {
  display: none;
}
.conectIcon {
  max-width: 18px;
  margin: 0px 2px 0px 0px;
  vertical-align: middle;
}
.ocupyIcon {
  max-width: 15px;
  margin: 0px 2px 0px 0px;
  vertical-align: middle;
}
.startIcon {
  max-width: 12px;
  margin: 0px 2px 0px 0px;
  vertical-align: middle;
}
.btnicon {
  padding: 0px;
  width: auto;
  border: none;
  padding-left: 5px;
  background: none;
}
.btnicon .svgIcon {
  width: 18px;
  margin: 0px 2px 0px 0px;
  vertical-align: middle;
  cursor: pointer;
}
.ProviderItemTools {
  text-align: right;
}
.ProviderItemTools .svgIcon {
  max-width: 14px;
}
.btnassign {
  border-left: 1px solid #999;
  margin-left: 5px;
}
.btnFavorito {
  float: right;
  margin-top: 0px;
}
.ProviderRouteData {
  font-weight: bold;
  font-size: 13px;
}
.ProviderRouteDataMap {
  font-weight: bold;
  font-size: 13px;
}
.semVerde {
  color: #53a93f;
}
.semAmarillo {
  color: #ffce00;
}
.semRojo {
  color: #c62b20;
}
.providersSearchFilters {
  padding: 0px 5px 0px;
}
.providersSearchFilters .orderBY {
  padding: 5px 0px 3px;
  text-align: center;
}
.providersSearchFilters .orderBY svg,
.providersSearchFilters .orderBY b {
  cursor: pointer;
}
.providersSearchFilters .orderBY .ocupyIcon {
  max-width: 13px;
}
.GetTheRoute {
  margin: 5px 0px;
}
.GetTheRoute span {
  cursor: pointer;
  background: #6aa7ef;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}

.activeProv {
  background: #ecffe1;
}
.outTheRadio .markercontend {
  display: none;
}
.outTheRadio {
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.outTheRadio.conect {
  background: #53a93f !important;
}
.outTheRadio.disconect {
  background: red !important;
}
.mapActiveProvider {
  background: #53a93f !important;
}
.rateStart {
  position: relative;
}
.rateNumber {
  position: absolute;
  text-align: center;
  margin: 2px 0px 0px 5px;
  font-weight: bold;
}

.leaflet-container {
  height: 300px;
  width: 100%;
}

.popup-destination {
  background-color: rgba(80, 142, 224, 0.5);
  color: #fff;
}

.leaflet-div-icon {
  background: #6aa7ef;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid #ffff;
}
