.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #333;
  transition: all 0.3s;
}

.modal-main {
  position: relative;
  background: white;
  width: 95%;
  height: 100vh;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  padding: 40px;
  overflow: auto;
}

.display-block .modal-main {
  top: 0;
  left: 0;
}

.display-none .modal-main {
  top: 0;
  left: 100%;
}
.display-block {
  top: 0;
  left: 0;
  opacity: 1;
}

.display-none {
  top: 0;
  left: 100%;
  opacity: 0;
}
.modalClose {
  background: #d14;
  border: none;
  cursor: pointer;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  position: relative;
  margin: -30px -30px 0px 0px;

  -webkit-border-radius: 20px 20px 20px 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: 0.3s;
  
}

.modalClose:hover { 
  background-color: #4e86d8;
}

.mapContainer{
  margin-top: 70px;
}

.message-client i{
  font-style: oblique;
  font-weight: bold;
}