h2.operatorsTitle {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.icon img {
  margin: 0px 5px 0px 0px !important;
}
.operatorsPage {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.operatorPage {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  float: left;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  width: 49%;
  line-height: 22px;
  height: 215px;
}
.operatorGraph {
  position: absolute;
  top: -40px;
  right: 0;
}
.dataRest {
  font-size: 14px;
  position: relative;
}
.teamLeader {
  max-width: 25px;
}
.headerOperator {
  display: inline-flex;
}
.parendDropDown {
  position: relative;
  float: left;
}
.dropDown {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background: #fff;
  border: 1px solid #999;
  font-size: 10px;
  padding: 0 5px;
}
.parendDropDown:hover .dropDown {
  display: block;
}
.operatorsTasks {
  display: inline-flex;
}
.taskCounter {
  margin: 3px;
  border: 1px solid #999;
  text-align: center;
}
.taskCounterHead {
  padding: 5px;
  border-bottom: 1px solid #999;
  font-weight: bold;
}
.taskCounterNumber {
  padding: 5px;
}
.asignCounter {
  color: #af2d0e;
}
.incourseCounter {
  color: #ffc200;
}
.resolveCounter {
  color: #167711;
}
.totalCounter {
  color: #0073bd;
}
.operatorsCharts {
  float: left;
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
