.row {
  display: inline-flex;
  font-family: 'Yantramanav', sans-serif;
  width: 100%;
}
.column {
  padding: 20px;
  width: 33%;
  border: 1px solid #eee;
  margin: 10px 20px 0px 0px;
  border-radius: 10px;
  width: 50%;
}
.flex {
  display: inline-flex;
  width: 100%;
}
.popUpTitle {
  margin: 20px 0px 10px;
  border-top: 1px solid #dedede;
  padding-top: 10px;
  font-size: 28px;
}
.title-tool {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;
  font-size: 22px;
}
.callButton {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #dedede;
  border-radius: 50%;
  display: block;
  text-align: center;
  padding: 9px 0px 0px;
  margin: 0px 0px 0px 20px;
}
.callButton img {
  width: 20px;
  padding: 0px;
}
.data {
  font-size: 14px;
  line-height: 15px;
}

.taskState {
  float: right;
  font-family: 'Yantramanav', sans-serif;
  margin-top: -20px;
}
.notes {
  font-family: 'Yantramanav', sans-serif;
}
.notes h3 {
  border-bottom: 1px solid #dedede;
  margin-bottom: 0px;
}
textarea {
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 5px 10px;
}
textarea:focus,
button:focus {
  outline-width: 0;
}

.noteContainer {
  border-bottom: 1px solid #dedede;
  margin-top: 20px;
}
.noteOperator {
  font-weight: bold;
  margin-right: 10px;
}
.date {
  font-size: 12px;
}
.note {
  margin: 20px 0;
}
.noteSpan {
  background: #eee;
  box-shadow: 1px 1px 2px #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
}
.tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}
.edit {
  margin-right: 5px;
  cursor: pointer;
}
.delete {
  cursor: pointer;
}
