.row {
  display: inline-flex;
  font-family: 'Yantramanav', sans-serif;
  width: 100%;
}
.column {
  padding: 20px;
  width: 33%;
  border: 1px solid #eee;
  margin: 10px 20px 0px 0px;
  border-radius: 10px;
  width: 50%;
  position: relative;
}
.flex {
  display: inline-flex;
  width: 100%;
}
.popUpTitle {
  margin: 30px 0px 10px;
  padding-top: 10px;
  font-size: 38px;
}
.title-tool {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;
  font-size: 18px;
}
.callButton {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #dedede;
  border-radius: 50%;
  display: block;
  text-align: center;
  padding: 9px 0px 0px;
  margin: 0px 10px 0px 0px;
}
.callButton img {
  width: 20px;
  padding: 0px;
}
.data {
  font-size: 14px;
  line-height: 15px;
}
.data b {
  font-weight: bolder;
}
.sos-chat {
  margin-top: 30px;
}
.taskState {
  float: right;
  font-family: 'Yantramanav', sans-serif;
  margin-top: -20px;
}
.notes {
  font-family: 'Yantramanav', sans-serif;
}
.notes h3 {
  border-bottom: 1px solid #dedede;
  margin-bottom: 0px;
}
textarea {
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 5px 10px;
}
textarea:focus,
button:focus {
  outline-width: 0;
}

.noteContainer {
  border-bottom: 1px solid #dedede;
  margin-top: 20px;
}
.noteOperator {
  font-weight: bold;
  margin-right: 10px;
}
.date {
  font-size: 12px;
}
.note {
  margin: 20px 0;
}
.noteSpan {
  background: #eee;
  box-shadow: 1px 1px 2px #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
}
.tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}
.edit {
  margin-right: 5px;
  cursor: pointer;
}
.delete {
  cursor: pointer;
}
.combineChats {
  cursor: pointer;
  float: left;
}
.asigne911 {
  cursor: pointer;
  background: #d14;
}
.chat911Container {
  width: 100%;
}
.chatRow {
  min-width: 100%;
  overflow-x: auto;
  display: inline-flex;
}
.asigne911 {
  float: left;
}

.reasign {
  position: absolute;
  top: -11px;
  right: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}
.titleHeader {
  position: relative;
}
.data img.ddIco {
  max-width: 20px;
  padding: 0px;
  margin: 0 0 0 10px;
  transition: all 1s;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
}
.dropDownData {
  transition: all 1s;
  overflow: hidden;
  margin-bottom: 10px;
}
.openDD {
  max-height: auto;
  overflow: visible;
}
.closeDD {
  max-height: 0;
}
.ddIco {
  transition: all 1s;
}
.downIcon {
  transform: rotate(180deg);
}
.upIcon {
  transform: rotate(0deg);
}
.taskLocation {
  font-family: 'Yantramanav', sans-serif;
}
.inputContainerCD {
  padding-right: 10px;
}
.inputContainerCD input {
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 0px;
}
.inputContainerCD .input {
  margin: 0px;
  min-width: auto;
  width: 100%;
}
.inputMasterContainerCD {
  width: 33%;
  height: 50px;
  margin-bottom: 10px;
  display: inline-block;
}
.title-tool .actorNameC {
  margin-left: 5px;
}
.actorPhoneC {
  margin-left: 5px;
  font-size: 17px;
}
.stars {
  display: inline-flex;
  margin-left: 5px;
}
.stars img {
  margin: 0px 3px 0px 0px;
  width: 13px;
  height: 13px;
}
