#wiki-container {
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Yantramanav', sans-serif;
  font-size: 20px;
  max-width: 1024px;
}
#wiki-indice {
  background-color: rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  width: 30%;
  height: 100%;
  max-width: 300px;
  max-height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  position: fixed;
}
#indice {
  border: 1px solid border;
  padding: 5px;
  max-height: 100%;
}

#wiki-text {
  padding: 10px;
  margin-left: 30%;
  width: 70%;
  display: inline-block;
  vertical-align: top;
}
#indice::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#indice::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#indice::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
#indice b {
  cursor: pointer;
}
#indice b:hover {
  color: #0047b3;
}

#wiki-container p {
  margin: 10px 0px 10px 0px;
}
#wiki-text-operadores {
  border-bottom: 1px solid #555;
}

.wiki-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
#wiki-container img {
  margin: 0px;
  padding-left: 5px;
}

#wiki-container h1 {
  font-size: 30px;
  font-weight: bold;
}
#wiki-container h2 {
  font-size: 35px;
}

#wiki-container td {
  border: 1px solid grey;
}

.jerarquia-uno {
  padding-left: 2em;
}
.jerarquia-dos {
  padding-left: 2em;
}
.jerarquia-tres {
  padding-left: 2em;
}
.jerarquia-cuatro {
  padding-left: 2em;
}
.jerarquia-cinco {
  padding-left: 2em;
}
.jerarquia-seis {
  padding-left: 2em;
}
#wiki-indice ul {
  list-style: none;
}
#wiki-container li {
  margin-bottom: 0px;
}
#wiki-container a {
  text-decoration: none;
}

#wiki-container .wiki-normal-img {
  margin: auto;
}

.wiki-contenedor-componentes {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid grey;
  display: flex;
}

.wiki-izquierda,
.wiki-derecha {
  margin: 5px;
  display: inline-block;
}
.wiki-derecha p {
  margin-left: 25px;
  margin-bottom: 40px;
}
